.advantages {
  min-height: 664px;
  margin: 0 auto;
  padding: 150px 0 90px;
  background-color: #f8f9fc;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    min-height: 1231px;
    padding: 70px 0;
  }
}

.advantages__wrap {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  min-width: 800px;
  padding: 0 141px 0;

  @include vp-1199 {
    max-width: 800px;
    min-width: 768px;
    padding: 0 45px 0;
  }

  @include vp-767 {
    // max-width: 480px;
    min-width: 320px;
    padding: 0;
  }
}

.advantages__wrap h2 {
  margin: 0 auto;
  padding-bottom: 55px;
  font-family: $ff-alumnisanssemibold;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  gap: 166px 60px;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    grid-template-columns: 118px 1fr 1fr 1fr 1fr 118px;
    gap: 50px 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  display: flex;
  align-items: flex-end;
  list-style-type: none;

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item--central-block {
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 63px 34px;
  background-color: #1c3374;
  color: $color-default-white;

  @include vp-1199 {
    grid-column: 2/6;
    grid-row: 2/3;
    padding: 45px 135px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 3/4;
    padding: 50px 74px;
  }
}

.advantages__item--square {
  @include vp-1199 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

.advantages__item--parking {
  @include vp-1199 {
    grid-column: 4/7;
    grid-row: 1/2;
  }

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.advantages__item--comfort {
  @include vp-1199 {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
}

.advantages__item--experience {
  @include vp-1199 {
    grid-column: 4/7;
    grid-row: 3/4;
  }

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}

.advantages__value {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 71px;
  line-height: 65px;
  background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @include vp-1199 {
    font-size: 58px;
  }

  @include vp-767 {
    padding: 0;
    align-items: center;
  }
}

.advantages__text {
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;
}

.advantages__description {
  @include vp-767 {
    width: 230px;
    margin: 0 auto;
    text-align: center;
  }
}

.advantages__description h3 {
  margin: 0;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }
}

.advantages__description p {
  margin: 0;
  padding-top: 6px;
  font-family: "Roboto Condensed Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @include vp-1199 {
    padding-top: 4px;
  }
}

.advantages__inner {
  text-align: center;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 74px;
  line-height: 100px;
}

.advantages__inner h3 {
  margin: 0 auto;
  font-size: 26px;
  line-height: 39px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 33px;
  }
}

.advantages__inner p {
  margin: 0 auto;
  padding-top: 50px;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @include vp-1199 {
    padding-top: 30px;
  }
}
