.btn {
  display: inline-flex;
  padding: 20px 54px;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-default-white;

  background-color: transparent;
  border: 4px solid $color-default-white;
  text-transform: uppercase;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--buy {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;

  @include vp-1199 {
    // width: 183px;
    padding: 20px 30px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
  }
}

.btn--buy-subscriptions {
  min-width: 208px;
  margin: auto 0 0;
  padding: 24px 43px;
  text-align: center;
  color: $color-default-black;
  border: 2px solid $color-default-black;
}

.btn--request {
  font-weight: 700;
  display: block;
  width: 100%;
  margin: 0 0 10px;
  padding: 25px 30px;
  text-align: center;

  @include vp-1199 {
    padding: 12px 40px;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $color-default-white;
  }

  @include vp-1199 {
    padding: 13px 40px 12px;
  }
}

.btn--more {
  display: inline-block;
  position: relative;
  max-width: 100px;
  min-width: 79px;
  margin: auto 0 0;
  padding: 0 0 2px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  border: none;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
  }
}

.btn--more-other {
  max-width: 90px;
  min-width: 68px;
  font-size: 12px;
  line-height: 14px;
  color: #1c3374;

  &::before {
    background-color: #1c3374;
  }
}

.btn--form-send {
  display: block;
  grid-column: 1/3;
  grid-row: 3/4;
  margin-top: 9px;
  padding: 16px 56px;
  font-size: 14px;
  line-height: 16px;
  border: 3px solid $color-default-white;

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 4/5;
    margin-top: 6px;
  }
}
