.coaches {
  min-height: 550px;
  margin: 0 auto;
  padding: 77px 0 91px;

  @include vp-1199 {
    min-height: 294px;
    padding: 70px 0 100px;
  }

  @include vp-767 {
    min-height: 410px;
    padding: 33px 0 70px;
  }
}

.coaches__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  max-width: 1320px;
  min-width: 1040px;

  @include vp-1199 {
    max-width: 997px;
    min-width: 768px;
  }

  @include vp-767 {
    max-width: 400px;
    min-width: 226px;
  }
}

.coaches__wrap h2 {
  margin: 0;
  padding: 0 0 47px 57px;
  font-family: $ff-alumnisanssemibold;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin: 0 auto;
    padding: 0 4px 31px 0;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    padding: 0 4px 42px 0;
    font-size: 32px;
    line-height: 38px;
  }
}

.coaches__container {
  width: auto;
  margin: 0 auto;
  background-color: #b6bfc8;
  // object-fit: contain;
}

.coaches__inner img {
  width: 100%;
}

.coaches__inner:hover,
.coaches__inner:focus-within {
  background-image: none;
}

.coaches__inner:hover .coaches__description-inner,
.coaches__inner:focus-within .coaches__description-inner {
  display: flex;
}

.coaches__inner:hover .coaches__description-container,
.coaches__inner:focus-within .coaches__description-container {
  background-color: $color-default-black;
  opacity: 0.89;
}

.coaches__inner:hover h3,
.coaches__inner:focus-within .h3 {
  margin: 0 auto;
  padding: 0 1px 0 0;

  @include vp-1199 {
    padding: 0 14px 0 0;
  }

  @include vp-767 {
    padding: 0;
  }
}


.coaches__description-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding: 54px 46px 23px 48px;
  list-style-type: none;
  overflow-y: auto;
  color: $color-default-white;
  background-color: transparent;

  @include vp-1199 {
    padding: 54px 40px 23px 47px;
  }

  @include vp-767 {
    padding: 43px 33px 40px 34px;
  }
}

.coaches__description-container h3 {
  margin: auto auto 0;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: $color-default-white;

  // @include vp-767 {
  //   padding: 48px 33px 47px 34px;
  // }
}

.coaches__description-inner {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.coaches__description-inner p {
  margin: 0 auto;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b6bdcc;

  @include vp-1199 {
    padding: 0 13px 0 0;
    line-height: 22px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.coaches__list {
  margin: 0;
  padding: 32px 0 0;

  @include vp-1199 {
    padding: 34px 0 0;
  }
}

.coaches__item {
  position: relative;
  padding: 0 0 13px 23px;
  line-height: 21px;
  list-style-type: none;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 6px;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @include vp-1199 {
    padding: 0 0 13px 24px;

    &::before {
      top: 6px;
      left: 7px;
    }
  }

  @include vp-767 {
    padding: 0 0 13px 16px;

    &::before {
      top: 7px;
      left: 0;
    }
  }
}

.coaches__slider .swiper-button-prev::after,
.coaches__slider .swiper-button-next::after {
  font-size: 0;
}

.coaches__slider .swiper-button-prev,
.coaches__slider .swiper-button-next {
  position: absolute;
  top: 60%;
  left: 0;
  width: 16px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/svg/icon-arrow.svg");
  border: none;
  cursor: pointer;
  outline: none;

  @include vp-1199 {
    top: 56.5%;
  }

  @include vp-767 {
    top: 59.1%;
    width: 10px;
    height: 19px;
    background-size: 10px 19px;
  }
}

// .coaches__slider .swiper-button-prev:hover,
// .coaches__slider .swiper-button-prev:focus {
//   background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
// }

// .coaches__slider .swiper-button-next:hover,
// .coaches__slider .swiper-button-next:focus {
//   background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
// }

// .coaches__slider .swiper-button-prev:active {
//   background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
// }

// .coaches__slider .swiper-button-next:active {
//   background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
// }

.coaches__slider .swiper-slide {
  max-width: 260px;
  min-width: 200px;

  @include vp-1199 {
    max-width: 385px;
    min-width: 268px;
  }

  @include vp-767 {
    max-width: 385px;
    min-width: 226px;
  }
}

.coaches__slider .swiper-button-prev {
  left: 23px;
  right: auto;

  @include vp-1199 {
    left: 44px;
  }

  @include vp-767 {
    left: 14px;
  }
}

.coaches__slider .swiper-button-next {
  left: auto;
  right: 23px;
  rotate: 180deg;

  @include vp-1199 {
    right: 44px;
  }

  @include vp-767 {
    right: 14px;
  }
}

.coaches__wrap .swiper {
  position: static;
  width: auto;
  max-width: 1160px;
  min-width: 1040px;
  margin: 0 56px;

  @include vp-1199 {
    max-width: 800px;
    min-width: 566px;
  }

  @include vp-767 {
    max-width: 400px;
    min-width: 226px;
    margin: 0 32px;
  }
}
