.footer-nav {
  padding-top: 3px;
}

.footer-nav__list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    gap: 30px;
  }
}

.footer-nav__button {
  line-height: 16px;
  color: $color-default-white;
}
