.form {
  padding: 56px 0 68px 101px;
  color: $color-default-white;

  @include vp-1199 {
    background-color: $color-default-black;
    padding: 61px 0 68px;
  }

  @include vp-767 {
    padding: 64px 0 68px;
  }
}

.form__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px 30px;
  width: 412px;

  @include vp-1199 {
    gap: 30px 57px;
    width: 502px;
    margin: 0 auto;
    padding-right: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 33px;
    width: 290px;
    padding: 0;
  }
}

.form h3 {
  grid-column: 1/3;
  margin: 0;
  padding-left: 2px;
  font-family: "Alumni Sans Extra Bold", "Arial", sans-serif;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    padding: 0 0 4px;
    font-family: "Alumni Sans Bold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    font-family: $ff-alumnisanssemibold;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
}

.form__field {
  position: relative;
  min-height: 26px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #74819c;
  }
}

.form__field input {
  width: 100%;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  border: none;
  background-color: transparent;

  &::placeholder {
    font-family: $ff-robotocondensed;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }
}

.form__field--name input {
  @include vp-1199 {
    padding: 0;
  }
}

.form__field--phone input {
  @include vp-767 {
    padding: 0;
  }
}
