.main-footer {
  min-height: 108px;
  margin: 0 auto;
  padding: 41px 0 42px;
  background-color: #030a1a;

  @include vp-1199 {
    padding: 44px 0 44px;
  }

  @include vp-767 {
    min-height: 260px;
    padding: 47px 0 52px;
  }
}

.main-footer__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  min-width: 800px;

  @include vp-1199 {
    max-width: 1289px;
    min-width: 768px;
  }

  @include vp-767 {
    position: relative;
    flex-direction: column;
    max-width: 797px;
    min-width: 290px;
  }
}

.main-footer__link-logo {
  margin-top: 4px;
  height: 30px;

  @include vp-1199 {
    margin-top: 2px;
    height: 18px;
  }

  @include vp-767 {
    position: absolute;
    top: 2px;
    left: 16px;
    margin: 0;
  }

  @include hover-focus {
    opacity: 0.7;
  }
}

.main-footer__logo {
  fill: $color-default-white;

  @include vp-1199 {
    width: 80px;
    height: 18px;
  }

  @include vp-767 {
    width: 66px;
    height: 15px;
  }
}
