.main-header {
  position: absolute;
  z-index: 10;
}

.main-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  min-width: 924px;
  min-height: 74px;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 1109px;
    min-width: 678px;
    min-height: 80px;
  }

  @include vp-767 {
    position: relative;
    max-width: 737px;
    min-width: 290px;
    min-height: 58px;
  }
}

.main-header__link-logo {
  display: block;
  padding: 40px 0 10px;

  & .main-header__logo {
    fill: $color-default-white;
  }

  @include vp-1199 {
    padding: 40px 0 25px;
  }

  @include vp-767 {
    padding: 19px 0 15px;
  }
}

.main-header__logo {
  width: 119px;
  height: 23px;

  @include vp-1199 {
    width: 80px;
    height: 17px;
  }

  @include vp-767 {
    width: 67px;
    height: 15px;
  }
}

.main-header__information-container address {
  padding-top: 9px;

  @include vp-767 {
    padding: 0;
  }
}

.main-header__phone {
  display: block;
  max-width: 180px;
  font-family: $ff-alumnisanssemibold;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @include vp-1199 {
    font-family: $ff-alumnisansbold;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-family: $ff-alumnisanssemibold;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
