.promo-block {
  min-height: 440px;
  margin: 0 auto;
  padding: 120px 0 30px;

  @include vp-1199 {
    min-height: 292px;
    padding: 100px 0 30px;
  }

  @include vp-767 {
    min-height: 584px;
    padding: 70px 0 30px;
  }
}

.promo-block__wrap {
  max-width: 1320px;
  display: flex;

  @include vp-1199 {
    max-width: 862px;
    min-width: 768px;
    // width: 768px;
    margin: 0 auto;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 480px;
    min-width: 290px;
  }
}

.promo-block__inner {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 85px 77px 5px;
  color: $color-default-white;
  background-color: #ed0233;

  @include vp-1199 {
    max-width: 386px;
    min-width: 292px;
    padding: 46px 45px 42px;
  }

  @include vp-767 {
    width: auto;
    max-width: 450px;
    min-width: 290px;
    padding: 47px 44px 41px;
  }
}

.promo-block__inner p {
  margin: 15px 0 45px;
  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    margin: 5px 0 30px;
    font-size: 12px;
    line-height: 18px;
  }
}

.promo-block__description {
  display: flex;
  justify-content: space-between;

  // @include vp-1199 {
  //   justify-content: start;
  // }
}

.promo-block__description h2 {
  margin: 0;
  padding-left: 12px;
  font-family: $ff-alumnisanssemibold;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    padding: 4px 0 0 8px;
    font-size: 48px;
    line-height: 46px;
  }
}

// .promo-block__time dl {
//   margin: 0;
// }

.promo-block__time {
  padding-right: 2px;

  @include vp-1199 {
    padding-right: 1px;
  }
}

.promo-block__time p {
  margin: 0;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 18px;

  @include vp-1199 {
    margin: 0 0 2px;
    padding-bottom: 0;
  }
}

// .promo-block__time dd {
//   // position: relative;
//   // margin: 0;
//   // font-family: "Roboto Condensed Bold", "Arial", sans-serif;
//   // font-size: 40px;
//   // line-height: 60px;
// }

// .promo-block time {
//   // &::before {
//   //   content: "";
//   //   position: absolute;
//   //   top: 0;
//   //   left: 0;
//   //   min-width: 64px;
//   //   width: 100%;
//   //   height: 0;
//   //   border: 1px solid $color-default-white;
//   // }
// }

.promo-block__datetime {
  position: relative;
  display: flex;
  justify-content: start;
  margin: 0;
  padding-bottom: 18px;
  width: 100%;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 1px;
    background-color: $color-default-white;

    @include vp-1199 {
      top: -1px;
      width: 42px;
    }
  }

  &:last-child {
    padding: 0;
  }

  @include vp-1199 {
    padding-bottom: 5px;
    font-size: 24px;
    line-height: 28px;
  }
}

.promo-block__datetime--line {
  &::before {
    width: 88px;
  }

  @include vp-1199 {
    &::before {
      width: 56px;
    }
  }
}

.promo-block__date {
  padding: 7px 0 0 7px;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @include vp-1199 {
    padding: 3px 0 0 4px;
    font-size: 10px;
    line-height: 12px;
  }
}

.promo-block__content {
  background-color: #000044;

  @include vp-1199 {
    max-width: 500px;
    min-width: 386px;
  }

  @include vp-767 {
    width: auto;
    max-width: 450px;
    min-width: 290px;
  }
}

.promo-block__content img {
  // @include vp-1199 {
  //   width: 386px;
  // }

  @include vp-1199 {
    width: 100%;
  }
}
