.reviews {
  min-height: 560px;
  margin: 0 auto;
  padding: 87px 0 120px;

  @include vp-1199 {
    min-height: 480px;
    padding: 70px 0 100px;
  }

  @include vp-767 {
    min-height: 500px;
    padding: 40px 0 70px;
  }
}

.reviews__wrap {
  display: flex;
  flex-direction: column;
  width: 672px;
  // max-width: 1320px;
  // min-width: 672px;
  padding: 0;

  @include vp-1199 {
    max-width: 1289px;
    min-width: 768px;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 350px;
    min-width: 226px;
    padding: 0 47px;
  }
}

.reviews__wrap h2 {
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: $ff-alumnisanssemibold;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__inner {
  display: grid;
  grid-template-columns: 80px 328px;
  gap: 20px 28px;
  width: 560px;
  // min-height: 242px;
  margin: 0 auto;
  padding: 62px;
  background-color: #1c3374;
  color: $color-default-white;

  @include vp-1199 {
    width: 566px;
    padding: 62px 65px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    gap: 20px 15px;
    width: auto;
    max-width: 450px;
    min-width: 226px;
    min-height: 300px;
    padding: 40px 25px;
  }
}

.reviews__image {
  width: 80px;
  height: 80px;
  grid-row: 1/3;

  @include vp-767 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.reviews__inner p {
  margin: 0;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.reviews__inner blockquote {
  grid-column: 2/-1;
  grid-row: 2/4;
  margin: 0;
  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    grid-column: 1/-1;
    text-align: center;
  }
}

.reviews__slider {
  position: relative;
  width: 672px;
  margin: 0 auto;
  padding: 0;
  min-width: 0;
}

.reviews__container {
  // width: 100%;
  // position: relative;
  width: 560px;
  margin: 0 auto;
}

.reviews__slider .swiper-button-prev::after,
.reviews__slider .swiper-button-next::after {
  color: #afafaf;
  font-size: 22px;
  font-weight: 500;
}

.reviews__slider .swiper-button-prev,
.reviews__slider .swiper-button-next {
  position: absolute;
  top: 45%;
  left: 0;
  width: 16px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

// .reviews__slider .swiper-button-prev:hover,
// .reviews__slider .swiper-button-prev:focus {
//   background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
// }

// .reviews__slider .swiper-button-next:hover,
// .reviews__slider .swiper-button-next:focus {
//   background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
// }

// .reviews__slider .swiper-button-prev:active {
//   background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
// }

// .reviews__slider .swiper-button-next:active {
//   background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
// }

.reviews__slider .swiper-button-prev {
  left: 0;
  right: auto;
}

.reviews__slider .swiper-button-next {
  left: auto;
  right: 0;
}
