.reviews {
  min-height: 480px;
  margin: 0 auto;
  padding: 57px 0 120px;

  @include vp-1199 {
    padding: 47px 0 96px;
  }

  @include vp-767 {
    min-height: 480px;
    padding: 34px 0 70px;
  }
}

.reviews__wrap {
  display: flex;
  flex-direction: column;
  width: 672px;
  padding: 0;

  @include vp-1199 {
    width: 768px;
  }

  @include vp-767 {
    flex-direction: column;
    width: 320px;
  }
}

.reviews__wrap h2 {
  margin: 0 auto;
  padding: 0 0 37px 7px;
  font-family: $ff-alumnisanssemibold;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    padding: 0 4px 40px 0;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    padding: 0 0 42px 0;
    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__inner {
  display: grid;
  grid-template-columns: 80px 328px;
  gap: 15px 28px;
  width: 560px;
  min-height: 242px;
  margin: 0 auto;
  padding: 59px 62px 48px;
  background-color: #1c3374;
  color: $color-default-white;

  @include vp-1199 {
    gap: 16px 28px;
    width: 566px;
    padding: 59px 65px 48px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    gap: 15px 8px;
    width: 226px;
    min-height: 335px;
    padding: 40px 25px 36px;
    margin: 0 auto;
  }
}

.reviews__image {
  width: 80px;
  height: 83px;
  padding-top: 3px;
  grid-row: 1/3;

  @include vp-767 {
    width: 68px;
    height: 68px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 0 0 auto;
    padding-top: 0;
  }
}

.reviews__inner p {
  margin: 0;
  font-family: $ff-robotocondensedbold;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;

  @include vp-767 {
    padding: 8px 0 0 6px;
    line-height: 26px;
  }
}

.reviews__inner blockquote {
  grid-column: 2/-1;
  grid-row: 2/4;
  margin: 0;
  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    grid-column: 1/-1;
    text-align: center;
  }
}

.reviews__slider {
  width: 672px;
  margin: 0 auto;
  padding: 0;
  min-width: 0;

  @include vp-1199 {
    width: 679px;
  }

  @include vp-767 {
    width: 290px;
  }
}

.reviews__container {
  width: 560px;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.reviews__slider .swiper-button-prev::after,
.reviews__slider .swiper-button-next::after {
  font-size: 0;
}

.reviews__slider .swiper-button-prev,
.reviews__slider .swiper-button-next {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 56px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: 16px 32px;
  background-position: left 0 top 50%;
  border: none;
  cursor: pointer;
  outline: none;

  @include vp-767 {
    width: 32px;
    background-size: 10px 19px;
  }
}

.reviews__slider .focus-visible {
  border: 2px solid $color-default-black;
  border-radius: 4px;
}

.reviews__slider .swiper-button-prev:hover,
.reviews__slider .swiper-button-next:hover {
  background-size: 25px 50px;
}

.reviews__slider .swiper-button-next:active,
.reviews__slider .swiper-button-prev:active {
  background: linear-gradient(270deg, rgba(28, 51, 116, 0.25) 0%, rgba(28, 51, 116, 0) 100%);
}

.reviews__slider .swiper-button-prev {
  left: 0;
  right: auto;
}

.reviews__slider .swiper-button-next {
  left: auto;
  right: 0;
  rotate: 180deg;
}

.swiper-wrapper--reviews-nojs {
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
