// .tabs {

// }

.tabs__triggers {
  position: relative;
  max-width: 500px;
  min-width: 341px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 46px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border: 1px solid rgba(120, 120, 120, 0.2);
  }


  @include vp-1199 {
    gap: 54px;
    min-width: 332px;
  }

  @include vp-767 {
    gap: 45px;
    min-width: 290px;
  }
}

.tabs__item {
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 30px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }
}

.tabs__content-inner {
  display: none;
}

.tabs__content-inner--active {
  display: block;
}

.tabs__contetnt-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  max-width: 1160px;
  min-width: 1000px;
  margin: 0;
  padding: 39px 0;

  @include vp-1199 {
    grid-template-columns: 1fr;
    max-width: 600px;
    min-width: 442px;
    margin: 0 auto;
    padding: 45px 0 0;
  }

  @include vp-767 {
    gap: 35px;
    max-width: 400px;
    min-width: 290px;
    padding: 35px 0 0;
  }
}

.tabs__contetnt-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 448px;
  padding: 67px 76px;
  background-color: $color-default-white;

  @include vp-767 {
    min-height: 384px;
    padding: 55px 42px;
  }
}

.tabs__contetnt-item h3 {
  margin: 0;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-size: 26px;
  line-height: 29px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.tabs__contetnt-item > p {
  margin: 0;
  padding: 10px 0 59px;
  font-size: 16px;
  line-height: 24px;
  color: $color-secondary-black;

  @include vp-767 {
    padding: 15px 0 50px;
  }
}

.tabs__price {
  max-width: 215px;
  min-width: 203px;
  min-height: 43px;

  @include vp-767 {
    max-width: 200px;
    min-width: 162px;
  }
}

.tabs__price p {
  position: relative;
  z-index: 5;
  margin: 0;
  padding: 27px 62px 0 19px;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-size: 60px;
  line-height: 90px;
  color: #103aae;

  &::after {
    content: "";
    position: absolute;
    z-index: 5;
    right: 18px;
    bottom: 23px;
    width: 30px;
    height: 42px;
    background-image: url("../img/svg/icon-ruble.svg");
  }

  &::before {
    content: "5000";
    position: absolute;
    z-index: -1;
    top: -24px;
    right: 0;
    width: 203px;
    height: 69px;
    font-size: 100px;
    line-height: 150px;
    color: #e8e8e8;
    opacity: 0.48;
  }

  @include vp-767 {
    padding: 31px 47px 0 17px;
    font-size: 48px;
    line-height: 72px;

    &::before {
      top: -14px;
      width: 162px;
      height: 55px;
      font-size: 80px;
      line-height: 120px;
    }

    &::after {
      right: 19px;
      bottom: 19px;
      width: 24px;
      height: 33px;
      background-size: contain;
    }
  }
}

.tabs__price--month-daytime p {
  &::before {
    content: "1700";
  }
}

.tabs__price--month-day p {
  &::before {
    content: "2700";
  }
}
